*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.bar{
    display: flex;
    position:fixed;
    z-index: 2;
    width:100%;
}

.logo{
    width: 46px;
    height: 46px;
    float: left;
    margin-top: 17px;
    margin-left: 17px;
    margin-bottom: 17px;
}

.inicio{
    padding: 16px;
    background-color: #111;
    border-radius: 24px;
    margin-right: 15px;
}


nav ul li{
    display: inline-block;
    block-size: auto;
    margin-top: 16px;
}

nav ul li a{
    text-decoration: none;
    color: #111111;
}

.buscador{
    border:thin;
    color:#333;
    margin-left: 7px;
    width: 950px;
    height: 50px;
    background-color: #eee;
    border-radius: 30px;
    justify-content: center;
    padding: 20px;
    margin-top: 16px;
}

.lente{
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 35px;
    margin-left: 40px;
}

.campana{
    width: 46px;
    height:46px;
    float: right;
    margin-top: 16px;
    margin-right: 8px;
}

.mensaje{
    width: 47px;
    height:46px;
    float: right;
    margin-top: 16px;
    margin-right: 13px;
}

.login{
    width: 45px;
    height:45px;
    float:right;
    margin-top: 16px;
    margin-right: 8px;
}

.pestaña{
    width: 45px;
    height:45px;
    float: right;
    margin-top: 16px;
}

.dudas{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.agregar{
    position:fixed;
    z-index: 2;
    right: 20px;
    bottom:85px;
    width: 70px;
    height: 70px;
}

.inicio a{
    color: #ffffff;
    background-color: #111;
}

.container {
    column-count:5;
    column-gap:0;
    padding: 85px 90px 5px;
    display: flex;
    display: inline-block;
}

img{
    border-radius: 24px;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    margin-right: 15px;
}

div .image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    display: inline-block;
}

.image:hover img{
    filter:opacity(0.6);
}

p {
    position: absolute;
    padding: 16px;
    margin-top: 12px;
    margin-left: 51%;
    font-size: 16px;
    background: rgb(209, 3, 3);
    color: #ffffff;
    border-radius: 24px;
    opacity: 0;
    z-index: 1;
    transition: 0.25 ease-in-out;
    }

.image:hover p{
    opacity: 1;
}

h2 {
    margin-top: 5px;
    cursor: zoom-in;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

h3 {
    position: absolute;
    padding: 10px;
    bottom: 40px;
    left: 10px;
    font-size: 16px;
    background: rgb(245, 245, 245, 0.9);
    color: black;
    border-radius: 24px;
    opacity:0;
    z-index: 1;
    transition: 0.25 ease-in-out;
}

.image:hover h3{
    opacity: 1;
}

.upload {
    position: absolute;
    padding: 10px;
    bottom: 40px;
    right: 65px;
    font-size: 16px;
    background: rgb(245, 245, 245, 0.9);
    color: black;
    border-radius: 24px;
    opacity:0;
    z-index: 1;
    transition: 0.25 ease-in-out;
    width:35px;
    height: 35px;
}

.image:hover .upload{
    opacity: 1;
}

.option {
    position: absolute;
    padding: 10px;
    bottom: 40px;
    right: 25px;
    font-size: 16px;
    background: rgb(245, 245, 245, 0.9);
    color: black;
    border-radius: 24px;
    opacity:0;
    z-index: 1;
    transition: 0.25 ease-in-out;
    width:35px;
    height: 35px;
}

.image:hover .option{
    opacity: 1;
}

@media screen and (max-width:1000px) {
    p{
        font-size: 15px;
        
    }
}

@media screen and (max-width:700px) {
    .container{
        column-count: 4;
    }

    p {
        font-size: 11px;
    }
}

@media screen and (max-width:425px) {
    .container {
        column-count: 3;
    }

    p {
        font-size: 10px;
        
    }
}

@media screen and (max-width:375px) {
    .container {
        column-count: 2;
    }

    p {
        font-size: 15px;
    }
}